@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-inter);
}

@font-face {
  font-family: 'Poppins';
  src: url('/public/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/public/Poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/public/Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* globals.css */
.dark .card-wrapper {
  background: var(--dark-bg) !important;
}


:root {
  /* ✅ Date & Time Picker */
  --card-bg:#FEFAF4;
  --card-text:#111111;
  --picker-bg: #EAEAEA;
  --header-text-color: #29292B;
  --leftdrawer-text: #4D5050;
  --picker-text: #111111;
  --picker-border: #cbd5e1;
  --picker-hover: #f1f5f9;
  --picker-accent: #FD9F35;
  --input-disable-bg: #EAEAEA;
  --input-enable-bg: #FFFFFF;
  --input-enable-border: rgba(136, 136, 136, 0.4);
  --form-border: #CCCCCC;
  --button-border: #FD6E41;
  --button-hover-bg: #FFAE52;
  --button-bg: #FFFFFF;
  --status-active-bg: #C8D4A6;
  --status-active-text: #47502F;
  --status-inactive-bg: rgba(255, 0, 0, 0.3);
  --status-inactive-text: #B40000;
  --submit-button-bg: #FFA947;
  --submit-button-hover-bg: #f5b367;
  --text-color: #4D5050;
  --title: #AF6A1C;
  --bg-color: #FFFFFF;
  --bg-header: #FE8F12;
  --input-onhover-border: #888888;
  --header-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  --bg-leftdrawer: #FFFFFF;
  --bg-leftdrawer-footer: #F9FAFB;
  --left-drawer-active-tab: #FD9F35;
  --left-drawer-footer-border: rgba(203, 219, 217, 0.7);
  --left-drawer-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1), 2px 0 6px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.1);
  --bg-main-container: #FFFFFF;
  --card-bg: #F9FAFB;
  --card-subtle: #776F6F;
  --card-shadow: 0 0px 4px rgba(0, 0, 0, 0.08);
  --mimic-line: rgba(119, 136, 134, 0.50);
  --card-border: #FD9F35;
  --card-shadow-onhover: 0 0px 8px rgba(0, 0, 0, 0.25);
  --search-bg: rgba(255, 255, 255, 0.18);
  --search-placeholder: #888888;
  --search-border: rgba(136, 136, 136, 0.3);
  --card-top-border-color: radial-gradient(circle, #FFCD94, #FD9F35);
  --card-border-main: #E5DFDF;

  /* added for chart visulizaton charts */
  --chart-bg: #ffffff;
  --chart-text: #1a1a1a;
  --chart-grid: #e5e7eb;

  --chart-line: #3b82f6;
  --chart-bar: #10b981;
  --chart-area: #6366f1;
  --chart-scatter: #f59e0b;
  --chart-gauge: #ef4444;
  --chart-border: #e5e7eb;
  --chart-tooltip-bg: #ffffff;
  --chart-tooltip-text: #111111;
}

.dark {

  /* ✅ Date & Time Picker */
  --card-bg:#1D2B20;
  --card-text:#FBFBFC;
  --picker-bg: #1f2937;
  --header-text-color: #29292B;
  --leftdrawer-text: #B7C5C5;
  --picker-text: #f3f4f6;
  --picker-border: #374151;
  --picker-hover: #2b3646;
  --picker-accent: #FD9F35;
  --input-disable-bg: #1F2021;
  --input-enable-bg: #2B2C2D;
  --input-enable-border: #393A3C;
  --form-border: #353838;
  --button-border: #393A3C;
  --button-bg: #282829;
  --button-hover-bg: #424345;
  --card-border-main: #434646;
  --text-color: #B7C5C5;
  --title: #FFC07A;
  --bg-color: #1E1E1F;
  --bg-header: #FE8F12;
  --header-shadow: 0 2px 6px rgba(255, 255, 255, 0.25);
  --bg-leftdrawer: #181919;
  --bg-leftdrawer-footer: #2B2C2D;
  --input-onhover-border: #545659;
  --left-drawer-active-tab: #FD9F35;
  --left-drawer-footer-border: #393A3C;
  --left-drawer-shadow: 0 -2px 6px rgba(255, 255, 255, 0.12), 2px 0 6px rgba(255, 255, 255, 0.12), 0 2px 6px rgba(255, 255, 255, 0.12);
  ;
  --bg-main-container: #181919;
  --card-bg: #2F3232;
  --card-subtle: #B4A3A3;
  --mimic-line: rgba(119, 136, 134, 0.50);
  --search-bg: rgba(47, 43, 43, 0.25);
  --search-placeholder: #888888;
  ;
  --search-border: rgba(255, 255, 255, 0.18);

  /* added for the chart visulizations chart */
  --chart-bg: #1f2937;
  --chart-text: #f9fafb;
  --chart-grid: #374151;

  --chart-line: #60a5fa;
  --chart-bar: #34d399;
  --chart-area: #818cf8;
  --chart-scatter: #fbbf24;
  --chart-gauge: #f87171;
  --chart-border: #374151;
  --chart-tooltip-bg: #111827;
  --chart-tooltip-text: #f9fafb;
}



.title-font {
  font-family: var(--font-poppins);
}


/* Hide the scrollbar */
*::-webkit-scrollbar {
  width: 0px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(120, 120, 120, 0.4);
  border-radius: 999px;

  /* THIS makes it look smaller */
  border: 2px solid transparent;
  background-clip: content-box;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(120, 120, 120, 0.7);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
